/* * {
  color: white;
  margin: 0;
} */

.cursor {
  display: none;
}

@media (min-width: 768px) {
  .cursor {
    pointer-events: none;

  }
  .cursorBall {
    left: 0;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    z-index: 1000;

  }
  .circle {
    fill: #f7f8fa;
  }
}